.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: scroll;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.actions {
    text-align: right; 
}

.button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bolt;
}

.button:hover,
.button:active{
    background-color: #641e03;
}

.button--alt{
    font: inherit;
    cursor: pointer;
    background-color: white;
    border: 1px solid #8a2b06;
    color: #8a2b06;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bolt;
}

.button--alt:hover,
.button--alt:active{
    background-color: #641e03;
    color: white;
}

